@charset "UTF-8";

.chatAsideTopMo {
  height: 50px;
}
.chatSelectMo a {
  font-size: 20px;
}
.chatList > div {
  height: 100px;
}
.chatList h2 {
  font-size: 20px;
}
.chatList p {
  font-size: 16px;
}
.searchContentsBoxBottom {
  flex-direction: column;
  gap: 5px;
}
