.coachDetail {
  padding: 0 0 0 0;
}
.detailInner {
  display: flex;
  flex-direction: column;
  height: auto
}
.detailInTop {
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: auto;
  gap: 50px;
}
.inTopLeft {
  gap: 30px;
  width: 767px;
  padding: 30px 10px 0 10px;
  height: auto;
  justify-content: flex-start;
}
.inTopRight {
  display: flex;
  align-items: flex-start;
  width: 767px;
  padding: 0 0 0 0;
}
.coachInfo {
  width: 100%;
  height: auto;
  overflow: initial;
}
.coachSlider {
  width: 700px;
}
.detailInBottom span {
  font-size: 24px;
  font-weight: 600;
}
.percent {
  width: auto;
}
.lesson {
  max-width: 565px;
}
.coachInfoBt01, .coachInfoBt02 {
  display: none;
}


/* const textWrapper = document.querySelector('.text-wrapper');
const text = document.querySelector('.text');
const moreText = document.querySelector('.more-text');
const lessText = document.querySelector('.less-text');        

// 더보기 텍스트 클릭시 이벤트
moreText.addEventListener('click', () => {

moreText.style.display = 'none'; // 더보기 텍스트 삭제
lessText.style.display = 'inline-block'; // 줄이기 텍스트 표시
text.style.display = 'inline-block'; // 텍스트의 속성을 -webkit-box에서 일반 inline-block 으로 변경
});

// 줄이기 텍스트 클릭시 이벤트
lessText.addEventListener('click', () => {

lessText.style.display = 'none'; // 줄이기 텍스트 삭제
moreText.style.display = 'inline-block'; // 더보기 텍스트 표시
text.style.display = '-webkit-box'; // 텍스트의 속성을 다시 -webkit-box로 표시
}); */