@charset "UTF-8";
/* 우동테 main css */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
/* 눈누 Pretendard */

@import url('https://webfontworld.github.io/goodchoice/Jalnan.css');
/* 여기어때 잘난체 */

@keyframes dropdown { from { opacity: 0; transform: translateY(5px); } to { opacity: 1; } }
/* 지역선택 드롭다운 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid navy; */
}
:root {
  font-family: 'Pretendard Variable', sans-serif;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
header .topBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 13px 100px;
}
nav .logoCatWrapper {
  display: flex;
  gap: 30px;
}
nav .logo {
  font-family: 'Jalnan';
  color: #9552F0;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
nav .logo::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(/udt_project/test/img/pin_logo.png) no-repeat;
  background-size: cover;
  left: -40px;
  top: -7px;
}
nav .catMenu,
nav .userMenu {
  display: inherit;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
nav .catMenu a,
nav .userMenu a {
  color: #000;
  font-weight: 500;
  transition: 0.3s;
}
nav .catMenu a:hover,
nav .userMenu a:hover {
  color: #9747FF;
}
nav .catMenu a {
  font-size: 18px;
}
nav .userMenu a {
  font-size: 16px;
  position: relative;
}
nav .userMenu a:last-child::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(/udt_project/test/img/mypage.png) no-repeat;
  background-size: cover;
  right: -19px;
  top: 1px;
}
.bottomNav {
  display: none;
}
section.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 100vh;
  gap: 30px;
  background-color: #F4ECFF;
  position: relative;
  overflow: hidden;
}
.main h2 {
  font-family: 'Jalnan';
  font-size: 64px;
  font-weight: 400;
  line-height: 130%;
  margin-left: 200px;
}
.main span {
  font-size: 80px;
  color: #77D837;
}
.main .mainBt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-left: 200px;
  z-index: 10;
}
.main .mainBt a {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  height: 115px;
  padding: 82px 58px;
  border-radius: 10px;
  background-color: #9742ff;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  transition: 0.3s;
}
.main .mainBt a:hover {
  background-color: #77D837;
}
dotlottie-player {
  position: absolute;
  right: 100px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #000;
  padding: 40px 0;
}
footer .serviceSec {
  display: inherit;
  gap: 30px;
}
footer .serviceSec a {
  color: #fff;
  font-size: 16px;
}
footer .serviceSec .personal {
  color: #d0aaff;
}
footer .copyright {
    display: flex;
    gap: 30px;
    color: #fff;
    font-size: 16px;
}
footer .contact {
  display: flex;
  gap: 15px;
  color: #fff;
}