@charset "UTF-8";
/* 우동테 main tab css */

.topNav .catMenu,
.topNav .userMenu {
    display: none;
}
.topNav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .logo {
    margin-left: 40px;
}
.bottomNav {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 13px 50px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    z-index: 20;
}
.bottomNav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 16px;
}
.bottomNav a:nth-of-type(3) {
    color: #8530ff;
}
.bottomNav a:hover {
    color: #8530ff;
}
iconify-icon {
    font-size: 30px;
}
section.main {
    height: 1000px;
    justify-content: flex-end;
    padding-bottom: 150px;
    gap: 50px;
}
dotlottie-player {
    width: 400px !important;
    height: 400px !important;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.main h2 {
    margin-left: 0;
    font-size: 54px;
    text-align: center;
}
.main span {
    font-size: 72px;
}
.main .mainBt {
    justify-content: center;
    margin-left: 0;
}
.main .mainBt a {
    width: 220px;
    padding: 50px 30px;
}
footer {
    display: none;
    margin-bottom: 60px;
    background-color: #F0F0F0;
}
footer .serviceSec a {
    color: #000;
}
footer .serviceSec .personal {
    color: #8530ff;
}
footer .contact {
    color: #000;
}
footer .copyright {
    color: #000;
}