@charset "UTF-8";
/* 우동테 payment css */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
/* 눈누 Pretendard */

@import url('https://webfontworld.github.io/goodchoice/Jalnan.css');
/* 여기어때 잘난체 */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
/* font-awsome v6.5.2 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid navy; */
}
:root {
  font-family: 'Pretendard Variable', sans-serif;
}
a {
  text-decoration: none;
}


/* 섹션 */
section {
  display: flex;
  justify-content: center;
}
.sec {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  gap: 30px;
  max-width: 1440px;
}
h1 {
  font-size: 40px;
  font-weight: 700;
}
.sec-inner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  position: relative;
  width: 100%;
}
.innerLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

/* 박스 공통 스타일 선언 */
.content01, .content02, .content03, .innerRight {
  display: flex;
  justify-content: center;
  padding: 40px 30px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #B3B3B3;
  background: #FFF;
}

/* con01 */
.content01 {
  flex-direction: column;
  gap: 30px;
}
#cartItem {
  display: flex;
  flex-wrap: wrap;
}
h2 {
  font-size: 28px;
  font-weight: 700;
}
.profileBox {
  display: flex;
  gap: 30px;
  flex: 1 1 100%;
  height: 200px;
  margin-bottom: 30px;
}
.profileBox > img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.profileBox > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.profileBox h3 {
  font-size: 24px;
  font-weight: 700;
}
.profileBox > div > div {
  display: flex;
  gap: 10px;
}
.profileImg > img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.profileBox > div span {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: #676767;
}
/* 표 공통 스타일 선언 */
.table01, .table02, .table03 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  font-weight: 400;
}
.table01 > span:first-child, .table02 > span:first-child, .table03 > span:first-child {
  border-bottom: 1px solid #676767;
  padding-bottom: 10px;
}
.table01 > span:last-child, .table02 > span:last-child, .table03 > span:last-child {
  font-weight: 700;
}
.table01 {
  flex: 1 1 49%;
}
.table02, .table03 {
  flex: 1 1 25%;
}

/* con02 */
.content02 {
  justify-content: space-between;
}
.con02Left {
  list-style: none;
}
.con02Left h2 {
  padding-bottom: 20px;
  font-size: 28px;
  font-weight: 400;
}
.con02Left ul {
  list-style-type: disc;
  padding-left: 20px;
}
.con02Left ul li {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
}
.con02Right {
  font-size: 16px;
  font-weight: 500;
}
.con02Right > input {
  margin: 0 10px 20px -17px;
}
.con02Right > div {
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 30px;
}
.con02Right > div > input {
  margin: 0 6px 13px -6px;
}
/* 버튼 공통 스타일 선언 */
.con02Right button, .innerRight a {
  width: 100%;
  height: 50px;
  padding: 10px;
  gap: 10px;
  border: none;
  border-radius: 20px;
  background: #8530ff;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.con02Right button:hover, .innerRight a:hover {
  background: #6012c5;
}
/* con03 */
.content03 {
  flex-direction: column;
  gap: 20px;
}
.content03 h2 {
  font-size: 28px;
  font-weight: 400;
}
.content03 .payBoxSet {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}
.content03 .payBox {
  flex: 1 1 18%;
  height: 70px;
  border-radius: 20px;
  border: 1px solid #676767;
  background: #FFF;
  font-size: 20px;
  font-weight: 400;
}
.content03 .payBox:hover {
  background-color: #f4f4f4;
}

/* inner right */
.innerRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 30px;
  width: 500px;
  position: sticky;
  top: 30px;
}
.paymentCheck {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #676767;
  font-size: 20px;
  font-weight: 400;
}
.innerRight div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.innerRight h3 {
  font-size: 24px;
  font-weight: 700;
}
.innerRight a {
  display: flex;
  justify-content: center;
  align-items: center;
}