@charset "UTF-8";
/* 우동테 payment css */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
/* 눈누 Pretendard */

@import url('https://webfontworld.github.io/goodchoice/Jalnan.css');
/* 여기어때 잘난체 */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
/* font-awsome v6.5.2 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid navy; */
}
:root {
  font-family: 'Pretendard Variable', sans-serif;
}
a {
  text-decoration: none;
}

/* 헤더 */
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
header .topBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 13px 100px;
}
nav .logoCatWrapper {
  display: flex;
  gap: 30px;
}
nav .logo {
  font-family: 'Jalnan';
  color: #9552F0;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
nav .logo::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(/udt_project/test/img/pin_logo.png) no-repeat;
  background-size: cover;
  left: -40px;
  top: -7px;
}
nav .catMenu,
nav .userMenu {
  display: inherit;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
nav .catMenu a,
nav .userMenu a {
  color: #000;
  font-weight: 500;
  transition: 0.3s;
}
nav .catMenu a:hover,
nav .userMenu a:hover {
  color: #9747FF;
}
nav .catMenu a {
  font-size: 18px;
}
nav .userMenu a {
  font-size: 16px;
  position: relative;
}
nav .userMenu a:last-child::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(/udt_project/test/img/mypage.png) no-repeat;
  background-size: cover;
  right: -19px;
  top: 1px;
}

/* 섹션 */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 30px
}
.sec01, .sec02 {
  display: flex;
  flex-direction: column;
  min-width: 1400px;
  padding: 0 100px;
}

/* sec01 */
.sec01 {
  align-items: center;
  padding: 40px 0;
  gap: 30px;
  border-bottom: 1px solid #676767;
}
.sec01 i {
  font-size: 120px;
  color: #77d837;
  padding-bottom: 20px;
}
.sec01 h1 {
  font-size: 40px;
  font-weight: 700;
}
.sec01 > div {
  display: flex;
  font-size: 19px;
  font-weight: 400;
  gap: 80px;
}
.sec01 > div > span {
  width: 200px;
  position: relative;
}
.sec01 > div > span:first-child {
  display: flex;
  justify-content: flex-end;
  padding-right: 1px;
  /* 결제일 결제번호 사이 라인 기준으로 좌우 대칭 맞추기 위해 사용 */
}
.sec01 > div > span:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: -41px;
  width: 1px;
  height: 100%;
  background-color: black;
}

/* sec02 */
.sec02 h2 {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 10px;
}
.paymentDetail {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid #AFAFAF;
  background: #F9F9F9;
}
.paymentDetail > div {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  font-weight: 400;
  line-height: 50px;
}
.paymentDetail > div:nth-child(3) {
  border-bottom: 1px solid #676767;
}
.paymentDetail > div:last-child {
  color: #9747FF;
  font-size: 25px;
  font-weight: 700;
}
.paymentDetail > div:last-child > span:last-child {
  color: #000;
}
.btnSet {
  display: flex;
  gap: 40px;
}
.btnSet > button, .btnSet > a {
  width: 360px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #848484;
  color: #FFF;
  font-size: 19px;
  font-weight: 700;
}
.btnSet > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnSet button:hover, .btnSet a:hover {
  background: #8530ff;
}

/* 푸터 */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #000;
  padding: 40px 0;
}
footer .serviceSec {
  display: inherit;
  gap: 30px;
}
footer .serviceSec a {
  color: #fff;
  font-size: 16px;
}
footer .serviceSec .personal {
  color: #d0aaff;
}
footer .copyright {
  display: flex;
  gap: 30px;
  color: #fff;
  font-size: 16px;
}